extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rhonda Laurence

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I was recently in the Mortgage business as a Senior Underwriter for the past 10+ years. 
            | Upon my former company's layoff, I was chosen for an apprentice position offering a tech 
            | degree in JavaScript. This was a total life change, with ongoing learning and I found myself
            | totally intrigued and appreciative of this creative world of web developers. I was
            | fortunate to be chosen for the program out of more than 300 hundred applicants, and my 
            | willingness to learn and passion for what I do has opened opportunities that I chose to 
            | make the absolute most of. And the learning goes on....it's like a good book that's hard to put down!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node.js
          li JavaScript
          li CSS
          li API 
          li JQUERY
          li JSON
          li AJAX
          li HTML
        h6 Contact Info

        ul
          li 214-403-0209
          li rhonda.lawrence@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/rhonda-laurence-957a568/') LinkedIn
        a.button.expanded(href='https://github.com/lewrerh') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
